<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
	<div class="thumbnail">
		<%= image_tag(product.image_url, class: "img-responsive") %> 
	</div><!--thumbnail --> 

	<div class="col-sm-6 col-md-9">
		<% cache product do %>
		<h3><%= link_to product.name, product %></h3>
		<p><b>Product Description:</b> <%= product.description %></p>
		<p><b>Colour:</b> <%= product.colour %></p> 
		<span class="lead">Price <%= number_to_currency(product.price) %></span>
			<hr>

  		<%= link_to 'Edit', edit_product_path(product), class: "btn btn-warning" %> 
  		<%= link_to 'Back', products_path , class: "btn btn-info" %>
  		<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%>
  		<% end %>
	</div><!--col sm-6 col-md-9 --> 
	
	</div><!--col --> 
	
