<div class="row">
  <div class="col-md-4"><%= image_tag(@product.image_url), width: "350", class: "img-zoom", data_zoom_image: @product.image_url) %></div>  
    
    <div class="col-md-4">
      <p>
        <h2><%= @product.name %></h2> 
      </p>

      <p>
        <%= @product.description %>
      </p>

      <p>
        Price: <%= number_to_currency(@product.price) %> 
      </p>

      <p>
        <strong>Colour:</strong> <%= @product.colour %>
      </p>

        <% image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>
</div> <!-- end col --> 
</div> <!-- end row --> 

