<% cache @product do %>
<div class="container"> 

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-success", role: "button" %> |
<%= link_to 'Back', products_path, class: "btn btn-success", role: "button" %>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <%= image_tag(@product.image_url, width: "250", class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>
 
  </div> <!-- end col-md-8--> 

   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <p><h2><%= @product.name %></h2></p>
    <p><%= @product.description %></p>
    <strong>Price:</strong>
      <p> <%= number_to_currency(@product.price) %></p>
    <p><strong>Colour:</strong> <%= @product.colour %></p>
    <strong>Average Rating:</strong>
    <p><div class="rated", data-score="<%= @product.average_rating %>"></div></p>

    <!-- Stripe payment button -->
      <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %> 
      <% end %>
</div> <!-- end col-md-4--> 

</div> <!-- end row --> 

<% end %>
<%= render 'new_comment' %>

<%= render 'comments' %>

</div> <!--end container --> 